/*
*   Styels for Product grid quick view
*/

.kuClearfix {
    clear: both !important;
}

.kuModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden !important;
}

.productQuickView .kuModal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 2.5rem;
    width: 65%;
    border-radius: 4px;
}

.productQuickView .close-button {
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    box-shadow: none;
    touch-action: manipulation;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 2rem;
    opacity: 0.5;
    transition: all 0.2s ease;
    color: #000;
}

.productQuickView .close-button:hover {
    opacity: 1;
}

.productQuickView .show-modal {
    z-index: 999;
    opacity: 1;
    visibility: visible !important;
    display: block !important;
}

.productQuick-imgBlock {
    float: left;
    display: inline-block;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    font-family: inherit;
}

.productQuick-imgBlock img {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.productQuick-contentBlock {
    float: left;
    display: inline-block;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 10px;
    font-family: inherit;
}

.productQuickView .imgWrap {
    padding: 5px;
    background: transparent;
    border: 1px solid #F2F2F2;
    outline: none;
    text-align: center;
}

.productQuick-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 130%;
    color: #000;
    margin-bottom: 10px;
}

.productQuick-divider {
    display: block;
    width: 100%;
    margin: 1rem auto;
    height: 1px;
    background: #ddd;
}

.productQuickView .kuBtn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: all 0.3s ease;
    border-radius: 2px;
    border: 2px solid transparent;
    margin-right: 10px;
}

.productQuickView .kuBtn-primary {
    background: #000000;
    color: #FFFFFF;
    border-color: #000000;
}

.productQuickView .kuBtn-primary-outline {
    background: transparent;
    color: #000000;
    border: 2px solid #000000;
}

.productQuickView .kuBtn-primary:hover {
    background: transparent;
    color: #000000;
}

.productQuickView .kuBtn-primary-outline:hover {
    background: #f9f9f9;
}

.productQuick-Price {
    font-size: 1.5rem;
    line-height: 150%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #000;
}

span.productQuick-origPrice {
    display: inline-block;
    margin-right: 5px;
    color: #888;
    text-decoration: line-through;
    font-weight: normal;
}

.productQuick-shortDesc {
    font-size: 1.1rem;
    line-height: 135%;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 25px;
}

span.productQuick-label {
    font-size: 1rem;
    opacity: 0.80;
    color: #444;
    display: inline-block;
    margin-right: 5px;
}

.productQuick-extraInfo>div {
    margin-bottom: 10px;
    margin-top: 10px;
}

.kuQuickView {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    margin-left: -50px;
    width: 100px;
    text-align: center;
}

.kuProdWrap:hover .kuQuickView {
    right: 5px;
    visibility: visible;
    opacity: 1;
}

.kuQuickViewBtn {
    background: #ececec;
    border: 1px solid #d6d5d5;
    color: #000000;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 5px 10px;
}

.kuQuickViewBtn:hover {
    opacity: 0.80;
}

@media (max-width:1366px) {
    .productQuickView .kuModal-content {
        width: 85%;
    }
}

@media (max-width:850px) {
    .productQuickView .kuModal-content {
        width: 65%;
    }

    .productQuick-imgBlock,
    .productQuick-contentBlock {
        width: 100%;
        max-width: 100%;
    }

    .kuQuickView {
        visibility: visible;
        opacity: 1;
    }

    .productQuickView .kuModal-content {
        overflow: auto;
        max-height: 96%;
    }
}

@media (max-width:640px) {
    .productQuickView .kuModal-content {
        width: 85%;
        padding: 2rem 1rem;
    }

    .productQuick-title {
        font-size: 1.25rem;
    }

    .productQuickView .kuBtn {
        padding: 5px 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 0.85rem;
    }
}

/*! nouislider - 8.2.1 - 2015-12-02 21:43:15 */

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-target {
    position: relative;
    direction: ltr
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0
}

.noUi-handle {
    position: relative;
    z-index: 1
}

.noUi-stacking .noUi-handle {
    z-index: 10
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left .3s, top .3s;
    transition: left .3s, top .3s
}

.noUi-state-drag * {
    cursor: inherit!important
}

.noUi-base {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.noUi-horizontal {
    height: 12px
}

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    left: -17px;
    top: -7px;
    border-radius: 100%;
}

.noUi-vertical {
    width: 18px
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px
}

.noUi-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0
}

.noUi-connect {
    background: #333333;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45);
    -webkit-transition: background 450ms;
    transition: background 450ms
}

.noUi-origin {
    border-radius: 2px
}

.noUi-target {
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45), 0 3px 6px -5px #BBB
}

.noUi-draggable {
    cursor: w-resize
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
	cursor: pointer;
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB
}

.noUi-handle:after,
.noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #e4e1e1;
    left: 8px;
    top: 4px;
}

.noUi-handle:after {
    left: 12px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px
}

.noUi-vertical .noUi-handle:after {
    top: 17px
}

[disabled] .noUi-connect,
[disabled].noUi-connect {
    background: #B8B8B8
}

[disabled] .noUi-handle,
[disabled].noUi-origin {
    cursor: not-allowed
}

.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-pips {
    position: absolute;
    color: #999
}

.noUi-value {
    width: 40px;
    position: absolute;
    text-align: center
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px
}

.noUi-marker {
    position: absolute;
    background: #CCC
}

.noUi-marker-large,
.noUi-marker-sub {
    background: #AAA
}

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 50px;
    top: 100%;
    left: 0;
    width: 100%
}

.noUi-value-horizontal {
    margin-left: -20px;
    padding-top: 20px
}

.noUi-value-horizontal.noUi-value-sub {
    padding-top: 15px
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px
}

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%
}

.noUi-value-vertical {
    width: 15px;
    margin-left: 20px;
    margin-top: -5px
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #fff;
    padding: 5px;
    text-align: center
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
    top: -32px
}

.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
    bottom: -32px
}

.noUi-vertical .noUi-handle-lower .noUi-tooltip {
    left: 120%
}

.noUi-vertical .noUi-handle-upper .noUi-tooltip {
    right: 120%
}

/*
*   Price slider filter styles
*/

.kuPriceSlider {
    width: 350px;
    max-width: 100%;
    padding: 10px 20px 80px 20px;
    margin: 20px auto;
    position: relative;
    box-sizing: border-box;
}

.kuSliderVal {
    font-size: 1rem;
    line-height: 130%;
    margin: 50px 0px 20px 0px;
    padding: 0px;
    position: relative;
}

.kuSliderVal-min,
.kuSliderVal-max {
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ddd;
    color: #333;
    outline: none;
    position: absolute;
    min-width: 85px;
    margin: 5px;
    line-height: 100%;
    box-sizing: border-box;
    background: #eee;
}

.kuSliderVal span.kulabel {
    position: absolute;
    top: -24px;
    left: 0;
    color: #888;
    font-size: 90%;
}

.kuSliderVal-min {
    left: -17px;
}

.kuSliderVal-max {
    right: -10px;
}

.kuPriceSlider span.kuSliderTo {
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -15px;
    width: 30px;
    display: inline-block;
    opacity: 0.45;
}

.sliderFilterNames {
    height: 150px;
}

/*
*   Color Swatches styles
*/

.kuSwatches {
    width: 100%;
    padding: 5px 2px;
    border: none;
    min-height: 30px;
    max-width: 300px;
    float: none;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.kuSwatchItem {
    display: inline-block;
    height: 32px;
    width: 32px;
    max-height: 32px;
    max-width: 32px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    line-height: 32px;
    vertical-align: top;
    text-align: center;
    margin: 2px;
}

.kuSwatchItem a.kuSwatchLink {
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 2px;
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: center;
    border-radius: 0px;
    transition: all 0.1s;
    background-color: transparent;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    outline: 1px solid #dedede;
}

.kuSwatchItem a.kuSwatchLink.active,
.kuSwatchItem a.kuSwatchLink:hover,
.kuSwatchItem a.kuSwatchLink:focus {
    text-decoration: none;
    box-shadow: none;
    outline-width: 2px;
}

.kuSwatchItem.kuSwatchMore {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
}

.kuSwatchMoreText {

    display: block;
    height: 100%;
    width: 100%;
    text-align: center;

}

.kuSwatchItem.kuDefaultSwatch a.kuSwatchLink {
    background-color: #eee !important;
}

/*
*   Product badge styles
*/

.kuDiscountBadge {
    top: 6px;
    right: 6px;
    position: absolute;
    background: #333333;
    padding: 0px;
    color: #FFFFFF;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
    font-size: 12px;
    font-style: italic;
    display: flex;
    align-items: center;
    line-height: 100%;
}

.kuDiscountBadge span {
    width: 100%;
    align-items: center;
    text-align: center;
}

/*
*   Product stock label styles
*/

.kuCaptionStockIn {
    font-size: 11px;
    color: green;
    display: inline-block;
    padding: 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 2px 0px;
}

.kuCaptionStockOut {
    font-size: 11px;
    color: Red;
    display: inline-block;
    padding: 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 2px 0px;
}

/*
*   Product VAT label styles
*/

.kuCaptionVat {
    display: block;
    font-size: 11px;
    color: #767676;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 2px 0px;
}

/*
*   Mobile view slider filter 
*/

.kuFiltersHeader,
.kuFiltersFooter,
.kuBtn.kuFacetsSlideIn {
    display: none !important;
}

@media only screen and (max-width:768px) {

    .kuResultWrap {
        float: none;
        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }

    .kuFiltersHeader,
    .kuFiltersFooter {
        display: block !important;
    }

    .kuFilters {
        height: 100%;
        width: 0 !important;
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        background-color: #FFF;
        overflow-x: hidden;
        transition: 0.2s;
        padding: 55px 0px;
        max-width: 100% !important;
        box-sizing: border-box;
    }

    .kuFilters .kuFilterHead {
        padding-left: 0px;

    }

    .kuFilters.kuFiltersIn {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }

    .kuFiltersHeader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #F5F5F5;
        padding: 0px 10px;
        text-align: left;
    }

    .kuFiltersFooter {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #F5F5F5;
        padding: 0px 10px;
        text-align: right;
    }

    .kuFilters.kuFiltersIn .kuFiltersHeader,
    .kuFilters.kuFiltersIn .kuFiltersFooter {
        position: fixed;
        z-index: 1000;
    }

    .kuBtn {
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px !important;
        transition: all 0.3s ease;
        border: 1px solid transparent;
        margin-right: 10px !important;
        font-size: 0.80rem;
        border-radius: 4px;
        cursor: pointer;
        min-width: 70px;
        text-align: center;
    }

    .kuBtn.kuFacetsSlideIn {
        background: #000000;
        color: #FFF;
        border-color: #000;
        z-index: 1;
        display: inline-block !important;
        margin: 0px;
    }

    .kuBtn.kuFacetsSlideOut {
        background: #000;
        color: #FFF;
        border-color: #000;
        z-index: 2;
    }

    .kuFiltersHeader .kuBtn.kuFacetsSlideOut {
        border: none;
        margin-left: 0px;
        background: none;
        color: #000;
        border: none;
    }

    .kuBtn:hover,
    .kuBtn:focus {
        opacity: 0.80;

    }

    .kuFiltersFooter.kuFixed {
        position: fixed;
    }

    .kuMobileFilterCloseBtn {
        color: #000000 !important;
        background: #f5f5f5 !important;
    }

}

/*
*   Custom pagination bar styles
*/

.kuPaginationBar {
  width: auto;
  float: right;
  text-align: left;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid #ddd;
  background: #FFF;
  margin: 4px 8px 0px 0px;
  border-radius: 3px;
}


.kuPaginationBar a {
  font-style: normal;
  margin: 0px;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.1s ease;
  border-right: 1px solid #ddd;
  float: left;
}

.kuPaginationBar .kuActive {
  background: #333333;
  color: #fff;
  border-radius: 0px;
  border-width: 0px;
}

.kuPaginationBar a:hover {
  background: #ececec;
}

.kuPaginationBar .kuActive:hover {
  background: #333333;
  color: #fff;
}

.kuPaginationBar a:last-child {
  border-right: 0px;
}

.kuPaginationBar .kuActive:hover,
.kuPaginationBar .kuActive:focus {
  color: #ffffff !important;
}

.kuPaginationBar a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.kuPaginationBar a:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*
*   Color Swatches styles
*/

.kuSwatches {
    width: 100%;
    padding: 5px 2px;
    border: none;
    min-height: 30px;
    max-width: 300px;
    float: none;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.kuSwatchItem {
    display: inline-block;
    height: 28px;
    width: 28px;
    max-height: 28px;
    max-width: 28px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    line-height: 28px;
    vertical-align: top;
    text-align: center;
    margin: 2px;
}

.kuSwatchItem a.kuSwatchLink {
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: center;
    border-radius: 0px;
    transition: all 0.1s;
    background-color: transparent;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    outline: 1px solid #dedede;
}

.kuSwatchItem a.kuSwatchLink.active,
.kuSwatchItem a.kuSwatchLink:hover,
.kuSwatchItem a.kuSwatchLink:focus {
    text-decoration: none;
    box-shadow: none;
    outline-width: 2px;
}

.kuSwatchItem.kuSwatchMore {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
}

.kuSwatchMoreText {

    display: block;
    height: 100%;
    width: 100%;
    text-align: center;

}

.kuSwatchItem.kuDefaultSwatch a.kuSwatchLink {
    background-color: #eee !important;
}

/*
*   Styles for Landing page Add to cart button 
*/

.kuAddtocart {
    margin: 10px auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    transition: all 0.3s ease;
    float: none;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}

.kuAddtocart a.kuAddtocartBtn {
    background: #333333;
    color: #FFFFFF;
    padding: 0px 8px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px;
    border: none;
    height: 30px;
    transition: all 0.3s ease;
    border-radius: 0px;
    text-align: right;
    font-weight: normal;
    line-height: 30px;
}

