[ku-container] a,
[ku-container] p,
[ku-container] div,
[ku-container] ul li {
    font-family: inherit;
    font-size: 13px;
    line-height: 130%;
    text-decoration: none;
    font-weight: normal;
}

[ku-container] * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
}

/* Base Classes */
.kuBase {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container],
[ku-block] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

/* main Container */
[ku-container][data-container-role="main"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

/*==========
---Header--- 
============*/
/* main Header */
[ku-container][data-container-role="header"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container][data-container-role="header"] [ku-block][data-container-role="subPanel"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container][data-container-role="header"] [ku-block][data-container-role="banner"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container][data-container-role="header"] [ku-block][data-container-role="navigation"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

/*=================== 
---Result Wrapper---
=====================*/
.kuResultContent {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

.kuResultContent [ku-container]:empty {
    display: none !important;
    width: 0px !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Results container 
--------------------- */
[ku-container][data-container-role="content"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
    display: table;
    width: 100%;
}

[ku-container][data-container-role="content"] [ku-block]:empty {
    display: none !important;
    width: 0px !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

[ku-block][ku-empty],
[ku-container][ku-empty] {
    display: none !important;
    width: 0px !important;
    padding: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

/* results left 
----------------- */
[ku-container][data-container-role="left"] {
    display: table-cell;
    width: 22%;
    height: auto;
    max-width: 275px;
}

/* results right
------------------ */
[ku-container][data-container-role="right"] {
    display: table-cell;
    width: 22%;
    height: auto;
    max-width: 275px;
}

/* results main center body 
---------------------------- */
[ku-container][data-container-role="content"] [ku-container][data-container-role="results"] {
    display: table-cell;
    width: auto;
    height: auto;
}

[ku-container][data-container-role="content"]:after {
    content: '';
    display: block;
    clear: both;
}

[ku-block]:empty {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    min-height: 0px !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*==========
---footer--- 
============*/
/* main Footer */
/*==========
---Responsive--- 
============*/
@media only screen and (max-width: 1100px) {
    .kuResults ul li {
        width: 33%;
        padding: 5px;
    }

    .kuFilterBox .kuFilterNames ul li a span.kufacet-text {
        max-width: 60%;
        width: 60%;
    }
}

@media only screen and (max-width: 991px) {

    [ku-container][data-container-role="left"],
    [ku-container][data-container-role="right"] {
        width: 32%;
    }
}

@media only screen and (max-width: 767px) {

    [ku-container][data-container-role="content"],
    [ku-container][data-container-role="content"] [ku-container][data-container-role="results"],
    [ku-container][data-container-role="left"],
    [ku-container][data-container-role="right"] {
        display: block;
        width: 100%;
        height: auto;
    }

    .kuContainer .kuTabs a {
        display: inline-block;
    }

    .kuContainer .kuTabs a:hover {
        border-bottom: 0px solid #dddddd;
        text-decoration: none;
        background: #f5f5f5;
    }

    .kuContainer a.kuTabSelected {
        border-bottom: 0px solid #dddddd;
        background: #f5f5f5;
    }

    .kuLandingNoResultsMessage {
        font-size: 15px;
        line-height: 1.2em;
        padding: 10px 5%;
        text-align: center;
    }

    .kuFilterBox {
        margin-bottom: 5px;
        padding-bottom: 10px;
        width: 100%;
    }
}

/* Rating */
.klevu-stars-small-l2 {
    height: 13px;
    display: inline-block;
    vertical-align: bottom;
    background: transparent url(https://js.klevu.com/klevu-js-v1/img-1-1/star-gray.png) top left repeat-x;
    width: 65px;
    margin-top: 5px;
}

.klevu-stars-small-l2 .klevu-rating-l2 {
    background: transparent url(https://js.klevu.com/klevu-js-v1/img-1-1/star-yellow.png) top left repeat-x;
    height: 13px;
}

.kuFilterNames {
    height: 118px;
    overflow: hidden;
}

.kuFilterNames ul {
    margin: 0px;
    padding: 0px;
}

.kuFilterNames ul li {
    list-style: none;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.kuFilterNames ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0px;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    color: #333333;
    background: none;
    margin: 2px;
    margin-left: 5px;
}

.kuFilterNames ul li a span {
    display: inline-block;
    vertical-align: middle;
}

.kuFilterNames ul li a span.kufacet-text {
    max-width: 74%;
    width: 74%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.kuFilterNames ul li a span.kuFilterIcon {
    float: left;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.kuFilterNames ul li a:hover {
    cursor: pointer;
}

.kuFilterNames ul li a:hover span.kuFilterIcon:before {
    background: #FFFFFF;
}

.kuFilterNames ul li a:hover span.kuFilterIcon:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #333333;
    top: 5px;
    left: 5px;
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 50%;
}

.kuFilterNames ul li a span.kuFilterTotal {
    float: right;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.kuFilterNames ul li a span.kuFilterCancel {
    float: right;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.kuFilterNames ul li.kuSelected a {
    color: #333333;
}

.kuFilterNames ul li.kuSelected span.kuFilterIcon:before {
    background: #FFFFFF;
}

.kuFilterNames ul li.kuSelected span.kuFilterIcon:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #333333;
    top: 5px;
    left: 5px;
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 50%;
    border-color: #333333;
}

.kuFilterNames ul li.kuSelected:hover span.kuFilterIcon:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #333333;
}

.kuFilterNames.kuFilterShowAll {
    height: auto;
    overflow: unset;
}

.kuFilterHead {
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    color: #333333;
    display: block;
    line-height: 1.8;
    text-transform: uppercase;
    border-bottom: 1px solid #EEEEEE;
    background: none;
    margin-bottom: 15px;
    margin-top: 0px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.kuShowOpt {
    padding: 0px 5px;
    cursor: pointer;
    position: absolute;
    bottom: -5px;
}

.kuShowOpt a {
    color: #333333;
    text-decoration: none;
}

.kuHideOpt a {
    color: #333333;
    text-decoration: none;
}

.kuFilterDot {
    height: 5px;
    width: 5px;
    background-color: #333333;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.kuFilterIcon:before {
    content: '';
    border: 2px solid #DDDDDD;
    border-radius: 50%;
    margin: 0px;
    margin-right: 6px;
    height: 18px;
    width: 18px;
    display: inline-block;
    color: #DDDDDD;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: background 200ms;
    -webkit-transition: background 200ms;
    -moz-transition: background 200ms;
    -webkit-transition: border-color 200ms;
    -moz-transition: border-color 200ms;
    transition: border-color 200ms;
}

.kuMulticheck .kuFilterIcon:before {
    content: '';
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    margin: 0px;
    margin-right: 8px;
    height: 18px;
    width: 18px;
    display: inline-block;
    color: #DDDDDD;
    position: relative;
}

.kuMulticheck .kuFilterNames ul li a:hover span.kuFilterIcon:before {
    background: #FFFFFF;
    border: 1px solid #333333;
}

.kuMulticheck .kuFilterNames ul li a:hover span.kuFilterIcon:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 4px;
    border: 2px solid #333333;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.kuMulticheck .kuFilterNames ul li.kuSelected span.kuFilterIcon:before {
    background: #FFFFFF;
    border: 1px solid #333333;
}

.kuMulticheck .kuFilterNames ul li.kuSelected span.kuFilterIcon:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 2px solid #DDDDDD;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.kuMulticheck .kuFilterNames ul li.kuSelected:hover span.kuFilterIcon:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #333333;
}

.kuCarousel {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 210px;
}

.kuCarousel *:before {
    box-sizing: border-box;
}

.kuCarousel *:after {
    box-sizing: border-box;
}

.kuCarousel .kuCarousel-content {
    position: relative;
    overflow: hidden;
    transition: width 0.4s;
    height: 100%;
}

.kuCarousel .kuSlide {
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
}

.kuCarousel .nav {
    position: absolute;
    top: 50%;
    margin-top: -8%;
    background-color: #FFF;
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    -webkit-user-select: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
}

.kuCarousel .nav-left {
    left: -5px;
    background-image: url(https://js.klevu.com/klevu-js-v1/img-1-1/icon-prev.png);
}

.kuCarousel .nav-right {
    right: -5px;
    background-image: url(https://js.klevu.com/klevu-js-v1/img-1-1/icon-next.png);
}

.kuCarousel .kuCarousel-arrow-icon-left {
    margin-left: 5px;
    margin-top: 2px;
}

.kuCarousel .kuCarousel-arrow-icon-right {
    margin-left: 7px;
    margin-top: 2px;
}

.klevu-fluid,
.klevu-fluid *,
.klevuTarget,
.klevuTarget *,
.kuContainer * {
    font-family: inherit;
}

/*========Common Style============= */
[ku-container] a,
[ku-container] p,
[ku-container] div,
[ku-container] ul li {
    font-family: inherit;
    font-size: 13px;
    line-height: 130%;
    text-decoration: none;
    font-weight: normal;
}

[ku-container] * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
}

.kuClearLeft {
    clear: left;
}

.kuClearRight {
    clear: right;
}

.kuClearBoth,
.kuClearBoth:after {
    clear: both;
}

.kuGreen {
    color: #009b46 !important;
}

.kuBlack {
    color: #333333 !important;
}

.kuClipped {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.kuClippedOne {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.kuClippedTwo {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#loader {
    height: 400px;
}

#loader img {
    margin-top: 10%;
    display: inline-block;
    width: auto !important;
}

/*========Button Style============= */
.kuBtn {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 11px !important;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5px 5px 5px 0px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
}

.kuBtnDark {
    background: #333333;
    color: #ffffff;
    border-color: #333333;
}

.kuBtnLight {
    background: #ddd;
    color: #333333;
    border-color: #dedede;
}

.kuBtnDarkOutline {
    background: transparent;
    color: #333333;
    border: 2px solid #333333;
}

.kuBtnLightOutline {
    background: transparent;
    color: #dddddd;
    border: 2px solid #dddddd;
}

.kuBtnDark:hover,
.kuBtnLight:hover,
.kuBtnDarkOutline:hover,
.kuBtnLightOutline:hover {
    background: #757575;
    color: #ffffff;
    border-color: #757575;
}

/* Base Classes */
.kuBase {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container],
[ku-block] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

/* main Container */
[ku-container][data-container-role="main"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

/*==========
---Header--- 
============*/
/* main Header */
[ku-container][data-container-role="header"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container][data-container-role="header"] [ku-block][data-container-role="subPanel"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container][data-container-role="header"] [ku-block][data-container-role="banner"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

[ku-container][data-container-role="header"] [ku-block][data-container-role="navigation"] {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

/*=================== 
---Result Wrapper---
=====================*/
.kuResultContent {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
    max-width: 100%;
}

.kuResultContent [ku-container]:empty {
    display: none !important;
    width: 0px !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

[ku-block][ku-empty],
[ku-container][ku-empty] {
    display: none !important;
    width: 0px !important;
    padding: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

/* results left 
----------------- */
[ku-container][data-container-role="left"] {
    display: table-cell;
    width: 22%;
    height: auto;
    max-width: 275px;
}

/* results right
------------------ */
[ku-container][data-container-role="right"] {
    display: table-cell;
    width: 22%;
    height: auto;
    max-width: 275px;
}

/* results main center body 
---------------------------- */
[ku-block]:empty {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    min-height: 0px !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*==========
---footer--- 
============*/
/* main Footer */
.kuContainer {
    width: 100%;
    margin: 0 auto;
    font-family: inherit;
    font-size: 12px;
    background-color: #ffffff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    max-width: 1280px;
    width: 100% !important;
    /*========Tabs Style============= */
}

.kuContainer .kuTabs {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #eeeeee;
}

.kuContainer .kuTabs a {
    padding: 8px;
    cursor: pointer;
    margin-right: 5px;
    color: #333333;
    display: inline-block;
    position: relative;
}

.kuContainer .kuTabs a:hover {
    border-bottom: 3px solid #dddddd;
    text-decoration: none;
}

.kuContainer .kuTabs a.kuTabSelected {
    border-bottom: 3px solid #dddddd;
}

.kuContainer .kuTabs a.kuTabSelected:hover {
    background: none;
}

/*======Filters======
=================== */
.kuFiltersTitleHeading {
    text-transform: uppercase;
    text-decoration: none;
}

.kuFilterBox {
    margin-bottom: 12px;
    background: none;
    padding-bottom: 12px;
    position: relative;
}

.kuFilterBox .kuFilterHead {
    padding: 5px 0px;
    color: #333333;
    display: block;
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
    background: none;
    margin-bottom: 0px;
}

.kuFilterBox .kuFilterNames {
    height: 125px;
    overflow: hidden;
}

.kuFilterBox .kuFilterNames ul {
    margin: 0px;
    padding: 0px;
}

.kuFilterBox .kuFilterNames ul li {
    list-style: none;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.kuFilterBox .kuFilterNames ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0px;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    background: none;
    margin: 2px 5px 2px 0px;
}

.kuFilterBox .kuFilterNames ul li a span {
    display: inline-block;
    vertical-align: middle;
}

.kuFilterBox .kuFilterNames ul li a span.kufacet-text {
    max-width: 75%;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.kuFilterBox .kuFilterNames ul li a span.kuFilterIcon {
    float: left;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.kuFilterBox .kuFilterNames ul li a:hover span.kuFilterIcon:before {
    background: #ffffff;
}

.kuFilterBox .kuFilterNames ul li a:hover span.kuFilterIcon:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 5px;
    left: 5px;
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 50%;
    background: #dddddd;
}

.kuFilterBox .kuFilterNames ul li.kuSelected a {
    color: #333333;
}

.kuFilterBox .kuFilterNames ul li.kuSelected span.kuFilterIcon:before {
    background: #ffffff;
}

.kuFilterBox .kuFilterNames ul li.kuSelected span.kuFilterIcon:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 5px;
    left: 5px;
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 50%;
    background: #dddddd;
    border-color: #333333 !important;
}

.kuFilterBox .kuFilterNames ul li.kuSelected:hover span.kuFilterIcon:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #333333;
}

.kuFilterBox .kuFilterIcon:before {
    content: "";
    border: 2px solid #cccccc;
    border-radius: 50%;
    margin: 0px;
    margin-right: 8px;
    height: 18px;
    width: 18px;
    display: inline-block;
    color: #cccccc;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: background 200ms;
    -webkit-transition: background 200ms;
    -moz-transition: background 200ms;
    -webkit-transition: border-color 200ms;
    -moz-transition: border-color 200ms;
    transition: border-color 200ms;
}

.kuFilterBox .kuFilterNames.kuFilterCollapse {
    height: 0;
    overflow: hidden;
}

.kuFilterBox .kuFilterNames.kuFilterCollapse .kuShowOpt {
    display: none;
}

.kuFilterBox .kuFilterNames.kuFilterShowAll {
    height: auto;
    overflow: unset;
}

.kuFilterBox .kuShowOpt {
    padding: 0px;
    cursor: pointer;
    position: absolute;
    bottom: -12px;
}

.kuFilterBox .kuShowOpt a {
    color: #4d7abf;
    text-decoration: none;
}

.kuFilterBox .kuShowOpt .kuFilterDot {
    height: 5px;
    width: 5px;
    background-color: #888888;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.kuFilterBox .kuExpand {
    position: relative !important;
    transition: all 0.3s ease;
}

.kuFilterBox .kuCollapse {
    position: relative !important;
    transition: all 0.3s ease;
}

.kuFilterBox .kuFilterHead.kuCollapse {
    margin-bottom: 10px;
}

.kuFilterBox .kuFilterHead.kuCollapse::after {
    border-color: #333333;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 12px;
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    transition: all 0.3s ease;
}

.kuFilterBox .kuFilterHead.kuExpand::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333333;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 12px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
}

.kuFilterBox.kuMulticheck .kuFilterIcon:before {
    content: "";
    border: 1px solid #cccccc;
    border-radius: 0px;
}

.kuFilterBox.kuMulticheck .kuFilterNames ul li a:hover span.kuFilterIcon:after {
    width: 10px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 2px solid #dddddd;
    border-top: none;
    border-right: none;
    border-radius: 0px;
}

.kuFilterBox.kuMulticheck .kuFilterNames ul li a:hover span.kuFilterIcon:before {
    background: #ffffff;
    border: 1px solid #333333;
}

.kuFilterBox.kuMulticheck .kuFilterNames ul li.kuSelected span.kuFilterIcon:after {
    width: 10px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 2px solid #dddddd;
    border-top: none;
    border-right: none;
    border-radius: 0px;
}

.kuFilterBox.kuMulticheck .kuFilterNames ul li.kuSelected span.kuFilterIcon:before {
    background: #ffffff;
    border: 1px solid #333333;
}

.kuFilterBox.kuMulticheck .kuFilterNames ul li.kuSelected:hover span.kuFilterIcon:after {
    border-color: #333333;
}

/*====Ends Filters====*/
.kuBlockFullwidth {
    width: 100% !important;
    box-sizing: border-box;
}

.kuProListing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.kuPagination {
    width: auto;
    float: right;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 5px;
}

.kuPagination a {
    margin: 0px;
    position: relative;
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    border-right: 1px solid #dddddd;
}

.kuPagination a:hover {
    color: #333333;
}

.kuPagination a:last-child {
    border-right: none;
}

.kuPagination a.kuCurrent {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}

.kuOtherContent {
    display: none;
}

.kuResults ul {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

.kuResults ul li {
    display: inline-block;
    width: 25%;
    font-style: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    border-radius: 0px;
    position: relative;
    float: left;
}

.kuResults ul li .kuProdWrap {
    display: block;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ececec;
    position: relative;
}

.kuResults ul li .kuProdWrap .kuProdTop {
    margin: 0px;
    padding: 10px;
    position: relative;
}

.kuResults ul li .kuProdWrap .kuProdTop .klevuImgWrap {
    overflow: hidden;
    width: 100% !important;
    height: 130px !important;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.kuResults ul li .kuProdWrap .kuProdTop .klevuImgWrap a {
    display: block;
    max-width: 100% !important;
    max-height: 100% !important;
    height: auto;
    width: auto;
}

.kuResults ul li .kuProdWrap .kuProdTop .klevuImgWrap a img {
    max-width: 100% !important;
    max-height: 100% !important;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    position: absolute;
}

.kuResults ul li .kuProdWrap .kuProdBottom {
    margin: 0px;
    box-sizing: border-box;
    float: none;
    padding: 10px;
    position: relative;
    height: 82px;
}

.kuResults ul li .kuProdWrap .kuProdBottom .kuDesc {
    font-size: 12px;
    line-height: 18px;
    color: #757575;
}

.kuResults ul li .kuProdWrap .kuProdAdditional {
    position: absolute;
    background: #fff;
    padding: 0px;
    margin: 0px;
    z-index: 99;
    visibility: hidden;
    opacity: 1;
    width: 101%;
    left: -1px;
    right: 0;
    top: 98%;
    border: 1px solid #ececec;
    border-top: 0px;
}

.kuResults ul li .kuProdWrap .kuProdAdditional .kuProdAdditionalData {
    position: relative;
    padding: 10px 12px;
}

@media (max-width: 767px) {
    .kuResults ul li .kuProdWrap .kuProdAdditional {
        position: relative;
        visibility: visible;
        opacity: 1;
        left: 0;
        width: 100%;
    }
}

.kuResults ul li:hover .kuProdAdditional {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 10px 10px 0px rgba(17, 17, 17, 0.1);
}

.kuResults ul li .kuName {
    margin-bottom: 5px;
}

.kuResults ul li .kuName a {
    font-size: 115%;
    text-decoration: none;
    color: #333333;
    font-weight: normal;
}

.kuResults ul li .kuName a:hover {
    text-decoration: underline;
}

.kuResults .kuStarsSmall {
    height: 13px;
    display: inline-block;
    vertical-align: bottom;
    background: transparent url(https://js.klevu.com/klevu-js-v1/img-1-1/star-gray.png) top left repeat-x;
    width: 66px;
}

.kuResults .kuStarsSmall .kuRating {
    background: transparent url(https://js.klevu.com/klevu-js-v1/img-1-1/star-yellow.png) top left repeat-x;
    height: 13px;
}

.klevuNoResultsRecs-itemPrice,
.productQuick-Price,
.kuPrice {
    margin-top: 5px;
    text-align: left;
    color: #333333;
    width: 100%;
    box-sizing: border-box;
    font-size: 115%;
}

.klevuNoResultsRecs-itemPrice .klevuQuickPriceGreyText,
.productQuick-Price .klevuQuickPriceGreyText,
.kuPrice .klevuQuickPriceGreyText {
    font-weight: normal !important;
    color: #393939 !important;
    font-size: 11px !important;
}

.klevuNoResultsRecs-itemPrice .kuSalePrice,
.productQuick-Price .kuSalePrice,
.kuPrice .kuSalePrice {
    font-weight: bold;
    font-family: inherit;
    text-align: left;
    display: inline;
    margin-right: 5px;
    color: #333333;
    float: left;
}

.klevuNoResultsRecs-itemPrice .kuSalePrice.kuSpecialPrice,
.productQuick-Price .kuSalePrice.kuSpecialPrice,
.kuPrice .kuSalePrice.kuSpecialPrice {
    float: left;
    display: inline-block;
}

.klevuNoResultsRecs-itemPrice .kuOrigPrice,
.productQuick-Price .kuOrigPrice,
.kuPrice .kuOrigPrice {
    margin-right: 5px;
    text-decoration: line-through;
    text-align: left;
    display: block;
    float: left;
    color: #757575;
    font-weight: 400;
}

.kuLandingNoResults {
    background: #fff;
    width: 100%;
    margin: 30px auto;
    max-width: 850px;
}

.kuLandingNoResultsMessage {
    font-size: 18px;
    padding: 10px 5%;
    text-align: center;
}

.kuLandingNoResultsMessage span {
    font-weight: bold;
    font-style: italic;
}

.productList {
    display: block;
}

.kuDropdown {
    margin: 5px;
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 100%;
    z-index: 11;
}

.kuDropdown:first-child {
    margin-left: 10px;
}

.kuDropdown:hover .kuDropdownOptions {
    display: block;
}

.kuDropdown .kuDropdownLabel {
    background-color: #fff;
    color: #333333;
    padding: 8px 12px;
    display: inline-block;
    text-transform: capitalize;
    cursor: pointer;
    border: 1px solid #ddd;
    padding-right: 35px;
    position: relative;
}

.kuDropdown .kuDropdownLabel:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333333;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 12px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
}

.kuDropdown .kuDropdownOptions {
    display: none;
    position: absolute;
    background-color: #efefef;
    min-width: 150px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 12;
}

.kuDropdown .kuDropdownOptions .kuDropOption {
    color: #333333;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.kuDropdown .kuDropdownOptions .kuDropOption:hover {
    background-color: #ddd;
}

/*==========
---Responsive--- 
============*/
@media only screen and (max-width: 1100px) {
    .kuResults ul li {
        width: 33%;
        padding: 5px;
    }

    .kuFilterBox .kuFilterNames ul li a span.kufacet-text {
        max-width: 60%;
        width: 60%;
    }
}

@media only screen and (max-width: 991px) {

    [ku-container][data-container-role="left"],
    [ku-container][data-container-role="right"] {
        width: 32%;
    }
}

@media only screen and (max-width: 767px) {
    .kuContainer .kuTabs a {
        display: inline-block;
    }

    .kuContainer .kuTabs a:hover {
        border-bottom: 0px solid #dddddd;
        text-decoration: none;
        background: #f5f5f5;
    }

    .kuContainer a.kuTabSelected {
        border-bottom: 0px solid #dddddd;
        background: #f5f5f5;
    }

    .kuLandingNoResultsMessage {
        font-size: 15px;
        line-height: 1.2em;
        padding: 10px 5%;
        text-align: center;
    }

    .kuFilterBox {
        margin-bottom: 5px;
        padding-bottom: 10px;
        width: 100%;
    }

    .kuResults ul li {
        width: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .kuResults ul li {
        width: 100%;
    }

    .kuDropdown .kuDropdownLabel {
        display: inline-block;
        padding: 5px 5px;
        padding-right: 20px;
        font-size: 11px;
    }

    .kuDropdown .kuDropdownLabel:after {
        right: 5px;
        padding: 3px;
        top: 7px;
    }
}

.searchRequestLoading .kuResultsListing .kuResults {
    opacity: 0.6;
    pointer-events: none;
}

@-webkit-keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.kuResourceLoader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
    color: #dcdcdc;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.kuResourceLoader:before {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.kuResourceLoader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    left: 3.5em;
}

.kuResultsHeadingTitleContainer {
    margin: 6px;
    padding-bottom: 11px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
    margin-top: 20px;
}

.kuFilters[data-position="top"] {
    float: left;
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
}

.kuFilters[data-position="top"] .kuFilterBox {
    display: inline-block;
    float: left;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: auto;
    height: auto;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterHead {
    padding: 6px 15px 6px 0px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    color: #333333;
    border: 0px;
    font-weight: bold;
    margin: 5px;
    transition: all 0.3s ease;
    margin-right: 15px;
    pointer-events: initial;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterHead:hover {
    transition: all 0.5s ease;
    cursor: pointer;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterHead:hover+.kuFilterNames {
    display: block !important;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterHead::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333333;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 3px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterNames {
    display: none;
    left: 0;
    position: absolute;
    top: 30px;
    min-width: 260px;
    width: 100%;
    min-height: 80px;
    max-height: 180px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    z-index: 100000000;
    padding: 12px 10px;
    height: auto;
    margin-top: -1px;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterNames:hover {
    overflow-y: auto;
    display: block !important;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterHead.kuCollapse::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333333;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 3px;
    top: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.kuFilters[data-position="top"] .kuFilterBox .kuFilterHead.kuExpand::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333333;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 3px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.kuFilters[data-position="top"] .kuShowOpt {
    display: none;
}

@media only screen and (max-width: 767px) {
    .kuFilters[data-position="top"] {
        width: 100%;
    }

    .kuFilters[data-position="top"] .kuFilterHead {
        border-bottom: 1px solid #EEEEEE;
        margin: 0px auto;
    }

    .kuFilters[data-position="top"] .kuFilterHead:hover+.kuFilterNames {
        pointer-events: none;
    }

    .kuFilters[data-position="top"] .kuFilterNames:hover {
        pointer-events: none;
    }

    .kuFilters[data-position="top"] .kuFilterNames.kuFilterCollapse {
        height: 0;
        overflow: hidden;
        min-height: unset;
        padding: 0px;
        border: none;
        transition: none;
    }
}

.kuAddtocart {
    margin: 10px auto;
    width: 100%;
}

.kuAddtocart .kuBtn {
    display: block;
}

.kuAddtocart img {
    width: auto;
    height: auto;
    max-height: 35px;
    max-width: 100%;
}

.kuSwatches {
    width: 100%;
    padding: 5px 2px;
    border: none;
    min-height: 30px;
    max-width: 300px;
    float: none;
    box-sizing: border-box;
    position: relative;
    margin: 10px 0px;
    text-align: left;
}

.kuSwatches .kuSwatchItem {
    display: inline-block;
    height: 28px;
    width: 28px;
    max-height: 28px;
    max-width: 28px;
    line-height: 28px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin: 2px;
}

.kuSwatches .kuSwatchItem .kuSwatchLink {
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center;
    border-radius: 0px;
    background-color: transparent;
    text-decoration: none;
    color: #333333;
    box-sizing: border-box;
    outline: 1px solid #dedede;
    font-size: 12px;
}

.kuSwatches .kuSwatchItem .kuSwatchLink:hover,
.kuSwatches .kuSwatchItem .kuSwatchLink:focus {
    text-decoration: none;
    box-shadow: none;
    outline-width: 2px;
}

.kuSwatches .kuSwatchItem .kuSwatchLink.active {
    text-decoration: none;
    box-shadow: none;
    outline-width: 2px;
}

.kuSwatchItem.kuSwatchMore {
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    background-color: transparent;
}

.kuSwatchItem.kuSwatchMore .kuSwatchMoreText {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.kuSwatchItem.kuDefaultSwatch a.kuSwatchLink {
    background-color: #eee !important;
}

.kuSwatches {
    width: 100%;
    padding: 5px 2px;
    border: none;
    min-height: 30px;
    max-width: 300px;
    float: none;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.kuSwatchItem {
    display: inline-block;
    height: 32px;
    width: 32px;
    max-height: 32px;
    max-width: 32px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    line-height: 32px;
    vertical-align: top;
    text-align: center;
    margin: 2px;
}

.kuSwatchItem a.kuSwatchLink {
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 2px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center;
    border-radius: 0px;
    background-color: transparent;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    outline: 1px solid #dedede;
    font-size: 12px;
}

.kuSwatchItem a.kuSwatchLink:hover {
    text-decoration: none;
    box-shadow: none;
    outline-width: 2px;
}

.kuSwatchItem a.kuSwatchLink:focus {
    text-decoration: none;
    box-shadow: none;
    outline-width: 2px;
}

.kuSwatchItem a.kuSwatchLink.active {
    text-decoration: none;
    box-shadow: none;
    outline-width: 2px;
}

.kuSwatchItem.kuSwatchMore {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
}

.kuSwatchItem.kuDefaultSwatch a.kuSwatchLink {
    background-color: #eee !important;
}

.productQuick-colorInStock .kuSwatchMoreText {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 0px !important;
}

.kuCaptionStockIn {
    margin-top: 12px;
    text-align: left;
    color: green;
    width: 100%;
    box-sizing: border-box;
    font-size: 115%;
}

.kuCaptionStockOut {
    margin-top: 5px;
    text-align: left;
    color: #F00;
    width: 100%;
    box-sizing: border-box;
    font-size: 115%;
}

.kuCaptionVat {
    display: block;
    font-size: 11px;
    color: #767676;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 2px 0px;
}

.productList,
.contentList {
    display: none;
}

.productListActive .productList {
    display: block;
}

.contentListActive .contentList {
    display: block;
}

[data-result-view='list'] footer.kuCMSProductNoImageFound {
    width: 100% !important;
}

[data-result-view='list'] .kuProdBottom {
    height: auto !important;
}

.kuDiscountBadge {
    top: 6px;
    right: 6px;
    position: absolute;
    background: #333333;
    padding: 0px;
    color: #FFFFFF;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
    font-style: italic;
    display: flex;
    align-items: center;
    line-height: 100%;
}

.kuDiscountBadge span {
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 11px;
}

.kuBannerAd {
    text-align: center;
    width: 100%;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.kuBannerAd img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.kuLandingNoRecordFound {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #333333;
    font-size: 13px;
    background: #fff;
    display: block;
}

.kuLandingNoRecordFound .kuLandingNoResultsMessage {
    font-size: 22px !important;
    margin-bottom: 20px;
}

.kuLandingNoRecordFound .klevu-no-results-banner-ad {
    clear: both;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.kuLandingNoRecordFound .klevu-no-results-banner-ad img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 185px;
    margin-bottom: 20px;
}

.kuLandingNoRecordFound .kuNoResultsProductRecommendationSlider {
    font-family: sans-serif;
}

.kuLandingNoRecordFound .klevuNoResultsRecsWrap {
    max-width: 100%;
    position: relative;
    padding: 0px;
    box-sizing: border-box;
    font-family: inherit;
    overflow: hidden;
}

.kuLandingNoRecordFound .klevuNoResultsRecsWrap * {
    outline: none;
}

.kuLandingNoRecordFound .klevuNoResultsRecs {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    word-wrap: wrap;
    text-overflow: ellipsis;
}

.kuLandingNoRecordFound .klevuNoResultsRecs h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResults {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner {
    transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s ease;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner .klevuNoResultsRecs-item {
    margin: 0 auto;
    border: 1px solid #eee;
    background: #fff;
    transition: all 0.5s ease;
    transform: scale(1);
    min-height: 240px;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner .klevuNoResultsRecs-itemImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner a.klevuNoResultsRecsImg img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: inline-block;
    margin: 0;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner a.klevuNoResultsRecsTitle {
    font-size: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #000;
    overflow: hidden;
    line-height: 180%;
    text-overflow: ellipsis;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner .klevuNoResultsRecs-itemDesc {
    box-sizing: border-box;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner .klevuNoResultsRecs-itemSku {
    color: rgba(0, 0, 0, 0.5);
    font-size: 80%;
    line-height: 110%;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner .klevuNoResultsRecs-itemPrice {
    margin-top: 0px;
    font-size: 14px;
    color: #000;
    text-align: left;
}

.kuLandingNoRecordFound .klevuNoResultsRecsResultsInner .klevuNoResultsRecs-itemPrice .kuSalePrice {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kuLandingNoRecordFound .klevuNoResultsRecs-itemWrap {
    margin: 8px;
}

.kuLandingNoRecordFound .klevuNoResultsRecsControl-left {
    left: -24px;
}

.kuLandingNoRecordFound .klevuNoResultsRecsControl-right {
    right: -18px;
}

.kuLandingNoRecordFound .klevuNoResultsRecsControl {
    bottom: 0;
    display: block;
    padding: 0;
    width: 24px;
    position: absolute;
    top: 40%;
    z-index: 1;
    height: 28px;
}

.kuLandingNoRecordFound .klevuNoResultsRecsControl-btn {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
}

.kuLandingNoRecordFound .klevuNoResultsRecsControl-btn svg {
    width: 24px;
    height: 24px;
    outline: none;
}

.kuLandingNoRecordFound #klevuNoResultsRecsControl-left {
    display: none;
}

.kuLandingNoRecordFound .kuNoResultsContainer {
    max-width: 100%;
}

.kuLandingNoRecordFound .klevuHeadingText {
    font-weight: bold;
    display: inline-block;
}

.kuLandingNoRecordFound .kuNoResultsLandingPopularSearchesBlock {
    text-align: center;
}

.kuLandingNoRecordFound .kuNoResultsLandingPopularSearchTerms ul {
    margin: 0px;
    padding: 0;
    display: inline-block;
}

.kuLandingNoRecordFound .kuNoResultsLandingPopularSearchTerms li {
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
}

.kuLandingNoRecordFound .kuNoResultsLandingPopularSearchTerms li a {
    color: #333333;
}

@media (min-width: 768px) {
    .kuLandingNoRecordFound .klevuNoResultsRecs-itemImg {
        min-height: 170px;
    }

    .kuLandingNoRecordFound .klevuNoResultsRecs-itemWrap {
        flex: 22%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .kuLandingNoRecordFound .klevuNoResultsRecsResultsInner {
        max-width: 60%;
        margin: 0 auto;
    }

    .kuLandingNoRecordFound .klevuNoResultsRecsResultsInner .klevuNoResultsRecs-item {
        min-height: 200px;
    }

    .kuLandingNoRecordFound .klevuNoResultsRecs-itemWrap {
        flex: 44%;
    }
}

@media (max-width: 480px) {
    .kuLandingNoRecordFound .klevuNoResultsRecsResultsInner {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }

    .kuLandingNoRecordFound .klevuNoResultsRecsResultsInner a.klevuNoResultsRecsImg img {
        min-height: 160px;
    }

    .kuLandingNoRecordFound .kuLandingNoResultsMessage {
        font-size: 16px !important;
    }

    .kuLandingNoRecordFound .klevuNoResultsRecs-itemWrap {
        flex: 50%;
    }
}

@media only screen and (max-width: 640px) {
    .kuLandingNoRecordFound .klevuNoResultsRecs {
        max-width: 80%;
    }
}

.kuFilterTagsContainer {
    margin-bottom: 3px;
    padding: 3px;
}

.kuFilterTagsContainer .kuFilterTagKey {
    color: gray;
    display: inline-block;
    padding: 2px;
    margin: 2px;
}

.kuFilterTagsContainer .kuFilterTagValue {
    padding: 2px 7px;
    border-radius: 2px;
    background-color: #f3f2f2;
    margin: 2px;
    display: inline-block;
    cursor: pointer;
}

.kuFilterTagsContainer .kuFilterTagValue:hover {
    background-color: #ece9e9;
}

.kuFilterTagsContainer .kuFilterTagClearAll {
    cursor: pointer;
    display: inline-block;
    padding: 1px 7px;
    margin: 2px;
    margin-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.kuLandingResultsViewSwitchContainer {
    position: relative;
    display: inline-block;
    z-index: 11;
    width: auto;
    padding: 10px 5px;
}

.kuLandingResultsViewSwitchContainer a {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 4px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: background-position 0.1s ease-in;
    -moz-transition: background-position 0.1s ease-in;
    -o-transition: background-position 0.1s ease-in;
    transition: background-position 0.1s ease-in;
}

.kuLandingResultsViewSwitchContainer a.kuCurrent {
    background-position: 0 -25px;
    text-decoration: none;
}

.kuLandingResultsViewSwitchContainer .kuGridViewBtn {
    background: url(https://js.klevu.com/klevu-js-v1/img-1-1/ku-gridview.png) no-repeat 0 0;
    cursor: pointer;
}

.kuLandingResultsViewSwitchContainer .kuListViewBtn {
    background: url(https://js.klevu.com/klevu-js-v1/img-1-1/ku-listview.png) no-repeat 0 0;
    cursor: pointer;
}

[data-result-view='list'] .klevuProduct {
    width: 100% !important;
}

[data-result-view='list'] .klevuProduct:hover .kuProdAdditional {
    box-shadow: none !important;
}

[data-result-view='list'] .klevuProduct main {
    display: inline-block;
    width: 30%;
}

[data-result-view='list'] .klevuProduct footer {
    display: inline-block;
    width: 69%;
}

[data-result-view='list'] .klevuProduct .kuProdAdditional {
    position: relative !important;
    visibility: unset !important;
    border: 0px !important;
}

[data-result-view='list'] .klevuProduct .kuAddtocart .kuBtn {
    display: inline-block;
}

@media only screen and (max-width: 576px) {
    [data-result-view='list'] .klevuProduct main {
        width: 100%;
    }

    [data-result-view='list'] .klevuProduct footer {
        width: 100%;
    }

    [data-result-view='list'] .klevuProduct .kuAddtocart .kuBtn {
        display: block;
    }
}

.kuSearchResultsSearchBarContainer input {
    width: 100%;
}