<!--
	Search result product grid quick view modal template file
-->

<div class="product-data-modal">
    <div class="kuModal">
        <div class="kuModal-content">
            <div class="productQuickViewWrapper">
                <div class="productQuick-Close"><span class="close-button">×</span></div>
                <div class="productQuick-imgBlock">
                    <div class="imgWrap"><img class="kuModalProductImage" alt="Product name" title="Product Name"></div>
                </div>
                <div class="productQuick-contentBlock">
                    <div class="productQuick-title kuModalProductName">Product Name</div>
                    <div class="productQuick-sku">
                        <span class="productQuick-label">SKU:</span>
                        <span class="kuModalProductSKU"></span>
                    </div>
                    <div class="productQuick-divider"></div>
                    <div class="productQuick-Price">
                        <span class="productQuick-salePrice">
                            <span class="kuModalProductPrice"></span>
                            <span class="kuModalProductPriceCurrency"></span>
                        </span>
                    </div>
                    <div class="productQuick-shortDesc kuModalProductShortDesc"></div>
                    <div class="productQuick-extraInfo">
                        <div class="productQuick-stockStatus">
                            <span class="productQuick-label">Stock Status:</span>
                            <span class="kuModalProductInStock"></span>
                        </div>
                        <div class="productQuick-sizeInStock">
                            <span class="productQuick-label">Color Variants:</span>
                            <span class="kuModalProductSwatchesInfo"></span>
                        </div>
                        <div class="productQuick-colorInStock">
                            <span class="productQuick-label">Size Variants:</span>
                            <span class="kuModalProductSize"></span>
                        </div>
                        <div class="productQuick-tags">
                            <span class="productQuick-label">Tags:</span>
                            <span class="kuModalProductTag"></span>
                        </div>
                    </div>
                    <div class="productQuick-addToCart">
                        <a href="#" class="kuBtn kuBtn-primary-outline kuModalProductURL">View details</a>
                        <a href="#" class="kuBtn kuBtn-primary kuModalProductCart">Add to cart</a>
                    </div>
                </div>
                <div class="kuClearfix"></div>
            </div>
        </div>
    </div>
</div>