<script type="template/klevu" id="klevuQuickProducts">
    <% if(data.query.productList) { %>
        <% if(data.query.productList.result.length > 0 ) { %>
            <div class="klevuResultsBlock">
                <div class="klevuSuggestionHeading"><span class="klevuHeadingText"><%=helper.translate("Products")%></span></div>
                <div class="klevuQuickSearchResults" data-section="productList" id="productsList">
                    <div class="klevuProductsViewAll">
                        <a href="<%=helper.buildUrl(data.settings.landingUrl,'q',helper.stripHtml(data.settings.term))%>" target="_parent"><%=helper.translate("View All")%></a>
                    </div>
                    <ul>
                      <% helper.each(data.query.productList.result,function(key,product){ %>
                          <%=helper.render('klevuQuickProductBlock',scope,data,product) %>
                      <% }); %>
                    </ul>
                </div>
            </div>
        <% } else { %>
            <%=helper.render('klevuQuickNoResultFound',scope) %>
        <% } %>
    <% } else { %>
        <%=helper.render('klevuQuickNoResultFound',scope) %>
    <% } %>
</script>
