<!--
    Search result Product badge template file
-->

<script type="template/klevu" id="searchResultProductBadge">
    <%if(dataLocal.stickyLabelHead && dataLocal.stickyLabelHead != "") { %>
        <div class="kuDiscountBadge">
            <span class="kuDiscountTxt"><%=dataLocal.stickyLabelHead%><span><%=dataLocal.stickyLabelTail%></span></span>
        </div>
    <% } %>
</script>