/*
*   Custom pagination bar styles
*/

.kuPaginationBar {
  width: auto;
  float: right;
  text-align: left;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid #ddd;
  background: #FFF;
  margin: 4px 8px 0px 0px;
  border-radius: 3px;
}


.kuPaginationBar a {
  font-style: normal;
  margin: 0px;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.1s ease;
  border-right: 1px solid #ddd;
  float: left;
}

.kuPaginationBar .kuActive {
  background: #333333;
  color: #fff;
  border-radius: 0px;
  border-width: 0px;
}

.kuPaginationBar a:hover {
  background: #ececec;
}

.kuPaginationBar .kuActive:hover {
  background: #333333;
  color: #fff;
}

.kuPaginationBar a:last-child {
  border-right: 0px;
}

.kuPaginationBar .kuActive:hover,
.kuPaginationBar .kuActive:focus {
  color: #ffffff !important;
}

.kuPaginationBar a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.kuPaginationBar a:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}