<script type="template/klevu" id="klevuLandingTemplatePagination">
    <% if(data.query[dataLocal].result.length > 0 ) { %>
        <% var productListLimit = data.query[dataLocal].meta.noOfResults; %>
        <div class="kuPagination">
            <% if(data.query[dataLocal].meta.offset > 0) { %>
                <a href="#" class="klevuPaginate" data-offset="0">&lt;&lt;</a>&nbsp;
                <a href="#" class="klevuPaginate" data-offset="<%=(data.query[dataLocal].meta.offset-productListLimit)%>">&lt;</a>&nbsp;
            <% } %>

            <% if(data.query[dataLocal].meta.offset > 0) { %>
                <a href="#" class="klevuPaginate" data-offset="<%=(data.query[dataLocal].meta.offset-productListLimit)%>"><%=(Math.ceil(data.query[dataLocal].meta.offset/productListLimit))%></a>&nbsp;
            <% } %>

            <a href="javascript:void(0);"><%=(Math.ceil(data.query[dataLocal].meta.offset/productListLimit)+1)%></a>&nbsp;

            <% if(data.query[dataLocal].meta.totalResultsFound >= data.query[dataLocal].meta.offset+productListLimit) { %>
                <a href="#" class="klevuPaginate" data-offset="<%=(data.query[dataLocal].meta.offset+productListLimit)%>"><%=(Math.ceil(data.query[dataLocal].meta.offset/productListLimit)+2)%></a>&nbsp;
            <% } %>

            <% if(data.query[dataLocal].meta.totalResultsFound >= data.query[dataLocal].meta.offset+productListLimit) { %>
                <a href="#" class="klevuPaginate" data-offset="<%=(data.query[dataLocal].meta.offset+productListLimit)%>">&gt;</a>&nbsp;
                <a href="#" class="klevuPaginate" data-offset="<%=(Math.floor(data.query[dataLocal].meta.totalResultsFound/productListLimit)*productListLimit)%>">&gt;&gt;</a>
            <% } %>
        </div>
    <% } %>
</script>
