<script type="template/klevu" id="klevuQuickNoResultFound">
    <div class="klevuQuickNoResults">
        <div class="klevuQuickNoResultsInner">
            <div class="klevuQuickNoResultsMessage">We're Sorry, No result found for term '<span><%=data.settings.termOriginal%></span>'.</div>          
        </div>
    </div>
</script>
