<script type="template/klevu" id="klevuQuickCategorySuggestions">
    <% if(data.query.categoryCompressed) { %>
        <% if(data.query.categoryCompressed.result.length > 0 ){ %>
        <div class="klevuAutoSuggestionsWrap klevuCategorySuggestions" id="klevuCategoryArea">
            <div class="klevuSuggestionHeading">
                <span class="klevuHeadingText"><%=helper.translate("Category")%></span>
            </div>
            <ul>
                <% helper.each(data.query.categoryCompressed.result,function(key,category){ %>
                <li><a href="<%=category.url%>"><%=category.name%></a></li>
                <% }); %>
            </ul>
          </div>
    <% } }%>
</script>