<script type="template/klevu" id="klevuLandingTemplateSortBy">
    <div class="kuDropdown kuDropSortBy">
        <div class="kuDropdownLabel"><%=helper.translate("Sort by : ")%> <%=helper.translate(helper.getSortBy(dataLocal))%></div>
        <div class="kuDropdownOptions">
            <div class="kuDropOption kuSort" data-value="RELEVANCE"><%=helper.translate("Relevance")%></div>
            <div class="kuDropOption kuSort" data-value="PRICE_ASC"><%=helper.translate("Price: Low to high")%></div>
            <div class="kuDropOption kuSort" data-value="PRICE_DESC"><%=helper.translate("Price: High to low")%></div>
        </div>
    </div>
</script>
